/* General styles */
*, *:before, *:after {
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #454545;
}

ul {
  padding-left:0 ;
}

ul li {
  list-style: none;
  font-size: 14px;
}

a,
a:hover,
a:focus,
a:active,
a:visited,
a.active,
.btn,
.btn:hover {
text-decoration: none;
outline: none !important;
font-family: 'Inconsolata', monospace;
font-weight: 400;
color: #454545;
}

h1,h2,h3 {
  text-shadow:rgba(0,0,0,1); ;

}

h1 {
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;

}

h2 {
  font-family:sans-serif;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

p,label,span,ul li,textarea,
input {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

p,label,span {
  font-size: 12px;
}

textarea,
input {
  font-size: 14px;
  outline: none !important;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #454545;
  outline: none;
}

.vcenter {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

/* Menu styles */
menu {
  position: fixed;
  top: 0;
  left:0;
  width: 200px;
  height: 100%;
  background:rgba(255,255,255,1);
  box-shadow: 0 0 5px 0 #cecece;
  z-index: 999;
}

#brand{
  position: absolute;
  top: 10%;
  left:50%;
  -webkit-transform: translate(-50%,-2%);
  -moz-transform: translate(-50%,-2%);
  transform: translate(-50%,-2%);
}

#brand h3{
  color: #333;
  font-size: 24px;
  letter-spacing: 0.2px;
}

.menuContent{
  position: absolute;
  top: 50%;
  left:50%;
  text-align: left;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.menuContent li{
  display: inline-block;
  width:100%;
}

.list li{
  line-height: 2;
  cursor: pointer;
}

.social{
  margin: auto;
  width: 50%;
}

.list li.active,
.social a:hover{
  color: #aaa;
}

.list,
.contact{
  padding-top:3em;
}

/* Start of menu media query */
@media screen and (max-width: 720px), screen and (max-height: 550px) {
  .menutoggle{
  position: fixed;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index:1000;
  }

.menutoggle span,
.menutoggle span:before,
.menutoggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  border-color:white;
  background: #454545;
  cursor: pointer;
}

.menutoggle span:before {
  top: -8px;
}

.menutoggle span:after {
  bottom: -8px;
}

.menutoggle span,
.menutoggle span:before,
.menutoggle span:after {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menutoggle.active span {
  background: transparent;
}

.menutoggle.active span:before,
.menutoggle.active span:after {
  top: 0;
  background: #444;
}

.menutoggle.active span:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menutoggle.active span:after {
  top: 10px;
  -moz-transform: translateY(-10px) rotate(-45deg);
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

menu{
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  background:rgba(255,255,255,0.9);
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  }

menu.active{
  visibility: visible;
  opacity: 1;
  }

.menuContent {
  text-align: center;
  }
}
/* End of menu media query */

/* Gallery styles*/
.section {
  margin-left: 200px;
}

#gallery {
  padding: 0 !important;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

#gallery img {
  width: 100.5% !important;
  height: auto !important;
  opacity: 1;
  -moz-transition: 0.8s opacity;
  -webkit-transition: 0.8s opacity;
  transition: 0.8s opacity;
  cursor: zoom-in;
}

#gallery:hover img:hover {
  opacity: 0.56;
}

@media screen and (max-width: 720px), screen and (max-height: 550px) {
  .section {
    margin-left: 0;
  }

  .list li {
    text-align: center;
  }
}

@media screen and (max-height: 550px) {
  .list,
  .contact {
    padding-top:1em;
  }
  .contact {
    display: none;
  }
}

@media screen and (max-width: 550px) {
#gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media screen and (max-width: 400px) {
#gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

body.modal-open .modal {
  display: flex !important;
  height: 100%;
}

body.modal-open .modal .modal-dialog {
  margin: auto;
  padding: 10px 0;
}

body.modal-open .modal .modal-content {
  border-radius: 0;
}

body.modal-open .modal .modal-body {
  padding: 3px;
}

body.modal-open img {
  cursor: zoom-out;
  }
}

/* About page styles */
#about img {
  margin:0 auto;
}

.aboutinfo {
  padding: 0 4em;
  line-height: 2;
}

.highlight {
  font-weight: 700;
}

.heading {
  margin-bottom: 2em;
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 960px), screen and (max-height: 550px) {
#about {
  margin:4em auto;
  }
}

@media screen and (max-width: 768px){
  .aboutinfo {
    margin-top: 4em;
    text-align: center;
  }
}
